<div class="parallaxSection height100" data-bg="/assets/bnr1.jpg" id="start">

  <section class="flexslider std-slider center-controls" data-height="0" data-loop="true" data-smooth="false" data-slideshow="true" data-speed="15000" data-animspeed="550" data-controls="false" data-dircontrols="true">
    <ul class="slides">
      <li><img src="/assets/bnr1.jpg"></li>
      <li><img src="/assets/bnr2.jpg"></li>
      <li><img src="/assets/bnr3.jpg"></li>
    </ul>
  </section>
  <!-- / flexslider -->
  <a href="#about" class="bigArrow local menuOffset"><i class="fa fa-angle-down"></i></a>

</div>
<!-- / parallaxSection -->


<section class="content-area bg1" id="about">
  <div class="container">

    <header class="page-header text-center">
      <h1 class="page-title">About us</h1>
    </header>

    <div class="row">
      <div class="col-md-4 col-md-push-2">
        <p align="justify">
          It’s a patent-pending location-based emergency coordination platform.
        </p>
      </div>
    </div>

  </div>
</section>

<section class="content-area bg2" id="services">
  <div class="container">
    <header class="page-header text-center">
      <h1 class="page-title">Our services</h1>

      <h2>What can we do for you?</h2>

      <p class="larger">We connect off duty law enforcement, paramedic and fire rescue assets.  When you call 911, you are only getting one of three shifts... meaning 33% capacity.We bring all assets to 100% utilization, based on the location of an emergency and an asset’s ability to respond quickly.
        Our platform allows emergency teams to rapidly call and activate their other shifts during times of critical need, without lengthy phone calls or phone trees.
        We offer better visibility, metrics and analytics to ensure that Commanders and dispatchers are able to more effectively deploy their assets.</p>
    </header>

    <div class="row">
      <div class="col-md-3 col-sm-6 animated" data-fx="fadeInUp">
        <div class="iconBox type4">
          <div class="media">
            <a class="pull-left" href="#"><i class="fa fa-star"></i></a>
            <div class="media-body">
              <h4 class="media-heading"><a href="#">Brand creation</a></h4>
              <p>Praesent dignissim dui eu urna feugiat lobortis. Morbi varius nibh sit amet adipiscing mollis. Aenean id neque ut augue gravida posuere.</p>
            </div>
          </div>
        </div>
        <!-- / iconBox -->
      </div>
      <div class="col-md-3 col-sm-6 animated" data-fx="fadeInDown">
        <div class="iconBox type4">
          <div class="media">
            <a class="pull-left" href="#"><i class="fa fa-trophy"></i></a>
            <div class="media-body">
              <h4 class="media-heading"><a href="#">Graphic design</a></h4>
              <p>Nam pharetra justo turpis, quis rutrum lorem lobortis euismod. Praesent augue, consectetur ultricies eros non, lacinia scelerisque ante.</p>
            </div>
          </div>
        </div>
        <!-- / iconBox -->
      </div>
      <div class="col-md-3 col-sm-6 animated" data-fx="fadeInUp">
        <div class="iconBox type4">
          <div class="media">
            <a class="pull-left" href="#"><i class="fa fa-cog"></i></a>
            <div class="media-body">
              <h4 class="media-heading"><a href="#">Web development</a></h4>
              <p>Aenean vitae neque mi. Phasellus tempor risus non risus tristique, quis egestas velit vulputate. Sed porttitor non nunc non pharetra risus.</p>
            </div>
          </div>
        </div>
        <!-- / iconBox -->
      </div>
      <div class="col-md-3 col-sm-6 animated" data-fx="fadeInDown">
        <div class="iconBox type4">
          <div class="media">
            <a class="pull-left" href="#"><i class="fa fa-thumbs-up"></i></a>
            <div class="media-body">
              <h4 class="media-heading"><a href="#">Online marketing</a></h4>
              <p>Duis quis elit hendrerit, tempor magna ac, adipiscing ligula. Maecenas neque nibh, vehicula ut neque at, scelerisque mollis risus non enim.</p>
            </div>
          </div>
        </div>
        <!-- / iconBox -->
      </div>
    </div>
    <!-- / row -->
  </div>
</section>
