<div class="parallaxSection height100" data-bg="/assets/bnr1.jpg" id="start">

  <section class="flexslider std-slider center-controls" data-height="0" data-loop="true" data-smooth="false" data-slideshow="true" data-speed="15000" data-animspeed="550" data-controls="false" data-dircontrols="true">
    <ul class="slides">
      <li><img src="/assets/bnr1.jpg"></li>
      <li><img src="/assets/bnr2.jpg"></li>
      <li><img src="/assets/bnr3.jpg"></li>
    </ul>
  </section>
  <!-- / flexslider -->
  <a href="#about" class="bigArrow local menuOffset"><i class="fa fa-angle-down"></i></a>

</div>
<!-- / parallaxSection -->


<section class="content-area bg1" id="about">
  <div class="container">

    <header class="page-header text-center">
      <h1 class="page-title">About us</h1>
    </header>

    <div class="row">
      <div class="col-md-4 col-md-push-2">
        <p align="justify">
          It’s a patent-pending location-based emergency coordination platform.
        </p>
      </div>
    </div>

  </div>
</section>
